body {
    background:url(../image/timg[1].jpg) no-repeat;
    background-size:1980px 1080px;
    
}
.Z{
    background-clip: padding-box;
    border-radius: 6px 6px 6px 6px;
    height: 1000px;
    position: relative;
}

.A {
    width: 680px;
    height: 680px;
    background-color: aliceblue;
    border-radius: 16px 16px 16px 16px;
    position: absolute;
    margin-left: 450px;
    margin-top: 60px;
    opacity:0.1;
}

.B {
    font-size: 30px;
    font-family: 'Microsoft PhagsPa';
    color: blueviolet;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    position: absolute;
    margin-top: 100px;
    margin-left: 660px;
    
}
#txtBox1 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color: aliceblue;
    opacity: 0.5;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 650px;
    margin-top: 200px;
}
#txtBox2 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color: aliceblue;
    opacity: 0.5;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 650px;
    margin-top: 300px;
}
#txtBox3 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color: aliceblue;
    opacity: 0.5;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 650px;
    margin-top: 400px;
    width:150px;
    height:30px;
}
#txtBox4 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color:orangered;
    opacity: 0.5;
    border:0;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 700px;
    margin-top: 500px;
    width: 200px;
    height: 40px;
}
#txtBox5 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color: orangered;
    opacity: 0.5;
    border: 0;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 700px;
    margin-top: 550px;
    width: 200px;
    height: 40px;
}
#Label1 {
    position: absolute;
    margin-left: 650px;
    margin-top: 350px;
    color:white;
    
}
#img1 {
    border-radius: 8px 8px 8px 8px;
    outline: none;
    background-color: aliceblue;
    opacity: 0.5;
    border-bottom-color: aqua;
    position: absolute;
    margin-left: 700px;
    margin-top: 400px;
    width: 150px;
    height: 30px;
}





